/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #e44d26; /* Цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стили для шапки */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
}

/* Стили для основного контента */
main {
    padding: 1em;
    max-width: 960px;
    margin: 0 auto;
}

.featured-recipes, .categories {
    margin-bottom: 2em;
}

.recipe {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recipe_oatmeal img {
    max-width: 60%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.0em;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.category {
    text-align: center;
    width: 30%; /*  Примерная ширина для трех категорий */
}

.category img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Адаптивная сетка */
    gap: 1em;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    clear: both; /* Предотвращает наложение подвала на контент */
}

/* Стили для формы обратной связи */
.contact-form {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Важно, чтобы padding и border не увеличивали ширину элемента */
}

.contact-form textarea {
    resize: vertical; /* Разрешить изменение высоты textarea */
}

.contact-form button[type="submit"] {
    background-color: #e44d26;
    color: #fff;
    padding: 0.75em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #c63e1a;
}
